<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICloudObserverBroadcastService"
                    closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00" transactionFlow="false" transferMode="Streamed"
                    transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                    listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536"
                    maxConnections="10" maxReceivedMessageSize="65536000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1000000000"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows"  protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICloudObserverBroadcastService1"
                    closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00" transactionFlow="false" transferMode="Buffered"
                    transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                    listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536"
                    maxConnections="10" maxReceivedMessageSize="65536000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1000000000"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICloudObserverBroadcastService2"
                    closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00" transactionFlow="false" transferMode="Streamed"
                    transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                    listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536"
                    maxConnections="10" maxReceivedMessageSize="65536000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1000000000"
                        maxBytesPerRead="30000" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICloudObserverBroadcastService3"
                    closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00" transactionFlow="false" transferMode="Buffered"
                    transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                    listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536"
                    maxConnections="10" maxReceivedMessageSize="65536000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1000000000"
                        maxBytesPerRead="30000" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICloudObserverBroadcastService"
                    closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                    sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536000" messageEncoding="Mtom" textEncoding="utf-8"
                    useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1000000000"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICloudObserverBroadcastService1"
                    closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                    sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536000" messageEncoding="Mtom" textEncoding="utf-8"
                    useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1000000000"
                        maxBytesPerRead="30000" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8731/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/Mode1"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICloudObserverBroadcastService"
                contract="CloudObserverBroadcastService.ICloudObserverBroadcastService"
                name="WSHttpBinding_ICloudObserverBroadcastService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8731/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/Mode2"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICloudObserverBroadcastService1"
                contract="CloudObserverBroadcastService.ICloudObserverBroadcastService"
                name="WSHttpBinding_ICloudObserverBroadcastService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/Mode3"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICloudObserverBroadcastService"
                contract="CloudObserverBroadcastService.ICloudObserverBroadcastService"
                name="NetTcpBinding_ICloudObserverBroadcastService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/Mode4"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICloudObserverBroadcastService1"
                contract="CloudObserverBroadcastService.ICloudObserverBroadcastService"
                name="NetTcpBinding_ICloudObserverBroadcastService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/Mode5"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICloudObserverBroadcastService2"
                contract="CloudObserverBroadcastService.ICloudObserverBroadcastService"
                name="NetTcpBinding_ICloudObserverBroadcastService2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/Mode6"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICloudObserverBroadcastService3"
                contract="CloudObserverBroadcastService.ICloudObserverBroadcastService"
                name="NetTcpBinding_ICloudObserverBroadcastService3">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>