<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- Prot on which server will be started -->
	<port>4773</port>

	<!-- List of services to be started on server -->
	<services>
		
		<service>
			<name>Users Accounts Service</name>
			<class_name>users_accounts_service</class_name>
			<library_name>UsersAccountsService</library_name>
			<settings>
				<log_util_file>log.txt</log_util_file>
				<database>server.db</database>
				<use_recapcha>true</use_recapcha>
				<recapcha_server_key>6LdRhsYSAAAAACWFAY14BsbhEe0HzOMayMMfAYdj</recapcha_server_key>
				<recapcha_server_url>http://www.google.com/recaptcha/api/verify</recapcha_server_url>	
			</settings>
			<description>
				<type>private</type>
				<text>Service for user registration.</text>
				<!--
				<type>public</type>
				<default_url>uac.html</default_url>
				-->
			</description>
			<call>0</call>
		</service>
		
		<service>
			<name>Image Renderer Service</name>
			<class_name>image_renderer_service</class_name>
			<library_name>ImageRendererService</library_name>
			<description>
				<type>public</type>
				<text>Service for images rendering, transcoding, mapping.</text>
				<default_url>images.html</default_url>
			</description>
			<call>1</call>
		</service>

		<service>
			<name>Observer Service</name>
			<class_name>observer_service</class_name>
			<library_name>ObserverService</library_name>
			<settings>
				<!--
					<max_streams>10</max_streams>
					<dumps_location>dumps</dumps_location>
					<dump_writers>false</dump_writers>
					<dump_readers>false</dump_readers>
				-->
			</settings>
			<description>
				<type>public</type>
				<text>Demo service for public video conferencing, it does not require user account and its free!</text>
				<default_url>observer.html</default_url>
			</description>
			<call>2</call>
		</service>
		
		<service>
			<name>Users Files Service</name>
			<class_name>users_files_service</class_name>
			<library_name>UsersFilesService</library_name>
			<settings>
				<users_files_directory>ufs</users_files_directory>
				<extension>user.file</extension>
				<log_util_file>ufs_log.txt</log_util_file>
				<database>ufs.db</database>
			</settings>
			<description>
				<type>public</type>
				<text>Service for user personal and publicly avaliable files storing and managing.</text>
				<default_url>ufs.html</default_url>
			</description>
			<call>3</call>	
		</service>

		<service>
			<name>File Service</name>
			<class_name>file_service</class_name>
			<library_name>FileService</library_name>
			<description>
				<type>private</type>
				<text>Fast and simple service for files returning. Responds to underlying file system changes</text>
			</description>
			<settings>
				<root_file_system_directory>htdocs</root_file_system_directory>
				<show_directory_contents>true</show_directory_contents>
			</settings>		
			<call>4</call>
		</service>
		
	</services>
</config>