<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="CloudObserverBroadcastServiceLibrary.CloudObserverBroadcastService" behaviorConfiguration="CloudObserverBroadcastServiceLibrary.CloudObserverBroadcastServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8731/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/" />
            <add baseAddress = "net.tcp://localhost:8732/Design_Time_Addresses/CloudObserverBroadcastServiceLibrary/Service1/"/>
          </baseAddresses>
        </host>
        
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        
        <endpoint address ="Mode1" binding="wsHttpBinding" bindingConfiguration="WsBinding1"  contract="CloudObserverBroadcastServiceLibrary.ICloudObserverBroadcastService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address ="Mode2" binding="wsHttpBinding" bindingConfiguration="WsBinding2"  contract="CloudObserverBroadcastServiceLibrary.ICloudObserverBroadcastService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address ="Mode3" binding="netTcpBinding" bindingConfiguration="TCPBinding1"  contract="CloudObserverBroadcastServiceLibrary.ICloudObserverBroadcastService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address ="Mode4" binding="netTcpBinding" bindingConfiguration="TCPBinding2"  contract="CloudObserverBroadcastServiceLibrary.ICloudObserverBroadcastService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address ="Mode5" binding="netTcpBinding" bindingConfiguration="TCPBinding3"  contract="CloudObserverBroadcastServiceLibrary.ICloudObserverBroadcastService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address ="Mode6" binding="netTcpBinding" bindingConfiguration="TCPBinding4"  contract="CloudObserverBroadcastServiceLibrary.ICloudObserverBroadcastService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <bindings>
        <wsHttpBinding>
          <binding name="WsBinding1" maxReceivedMessageSize="65536000"  closeTimeout="00:05:00" bypassProxyOnLocal="true" openTimeout="00:05:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" messageEncoding="Mtom">
            <readerQuotas maxArrayLength="1000000000" maxBytesPerRead="4096" />   
          </binding>

          <binding name="WsBinding2" maxReceivedMessageSize="65536000"  closeTimeout="00:05:00" bypassProxyOnLocal="true" openTimeout="00:05:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" messageEncoding="Mtom">
            <readerQuotas maxArrayLength="1000000000" maxBytesPerRead="30000" />
          </binding>
        </wsHttpBinding>

        <netTcpBinding>
          <binding name = "TCPBinding1" transferMode="Streamed" closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00">
          <readerQuotas maxArrayLength="1000000000" maxBytesPerRead="4096" />
          </binding>

          <binding name = "TCPBinding2" transferMode="Buffered" closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00">
          <readerQuotas maxArrayLength="1000000000" maxBytesPerRead="4096" />
          </binding>

          <binding name = "TCPBinding3" transferMode="Streamed" closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00">
          <readerQuotas maxArrayLength="1000000000"  maxBytesPerRead="30000" />
          </binding>

          <binding name = "TCPBinding4" transferMode="Buffered" closeTimeout="10:10:00" openTimeout="10:10:00" receiveTimeout="10:10:00" sendTimeout="10:10:00">
          <readerQuotas maxArrayLength="1000000000" maxBytesPerRead="30000" />
          </binding>
        </netTcpBinding>

    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="CloudObserverBroadcastServiceLibrary.CloudObserverBroadcastServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
