/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";



mx|ApplicationControlBar
{
	horizontalAlign: center;
	verticalAlign: middle;
	fill-alphas: 0.9, 0.8;
}
	