/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	content-background-color: #F9D0D0;
	chrome-color: #FF0000;
	roll-over-color: #73A9F9;
}
	